/* Reset some default browser styles */
html, body {
    margin: 0;
    padding: 0;
		background-color: lightgrey;
}

/* Style the color generator container */
.color-generator {
  text-align: center;
	position: absolute;
  width: 650px;
  height: 600px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

/* Style the nav-bar */
.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 20px 10px;
}

/* Style the color input */
input[type="color"] {
  width: 60px;
	height: 40px;
}

/* Style the color scheme select */
select[name="colors"] {
  width: 350px;
	border-radius: 5px;
  padding: 10px 0px;
  margin: 0px 10px 0px 10px;
	text-indent: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #374151; /* Text color */
}

/* Style the "Get color scheme" button */
button {
  padding: 10px 10px;
  border: 1px solid grey;
	border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #374151;
	background-color: white;
}

button:hover {
  background-color: lightgrey;
}

/* Style the color scheme display area */
.color-display {
	display: flex;
	flex-direction: row;
	height: 450px;
  margin-top: 20px;
  padding: 0;
  border: 1px solid #ddd;
  /* background-color: #f9f9f9; */
}

/* Style individual color boxes in the color scheme display area (customize as needed) */
.color-box {
  /* display: inline-block;
  width: 50px;
  height: 50px; */
	/* margin: 5px; */
	flex: 1; /* This makes the color-box expand to fill available space */
  border: 1px solid #ddd;
}


.color-name {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
  border: 1px solid #ddd;
	
}
.color-hex {
	flex: 1;
	border: 1px solid #ddd;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}


